# Open up the API to all origins.
Header set Access-Control-Allow-Origin "*"

# Compress API responses
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE application/json
</IfModule>
<IfModule mod_brotli.c>
    AddOutputFilterByType BROTLI_COMPRESS application/json
</IfModule>

# Allow brief caching of API responses
<IfModule mod_expires.c>
    # ExpiresActive on
    # ExpiresByType application/json "access plus 2 hours"
</IfModule>

