[bumpversion]
current_version = 0.3.12
commit = False
tag = False

[bumpversion:file:src/server/_config.py]

[bumpversion:file:src/client/delphi_epidata.js]

[bumpversion:file:src/client/delphi_epidata.R]

[bumpversion:file:src/client/packaging/npm/package.json]

[bumpversion:file:src/client/packaging/pypi/setup.py]

[bumpversion:file:src/client/packaging/pypi/delphi_epidata/__init__.py]
