delphi_utils
epiweeks==2.1.2
Flask==2.2.5
Flask-Limiter==3.3.0
more_itertools==8.4.0
mysqlclient==2.1.1
orjson==3.9.15
pandas==1.5.1
python-dotenv==0.15.0
pyyaml
redis==3.5.3
requests==2.32.4
scipy==1.10.0
sentry-sdk[flask]
SQLAlchemy==1.4.40
structlog==22.1.0
tenacity==7.0.0
typing-extensions
werkzeug==3.0.6
