itsdangerous<2.1
jinja2==3.0.3
werkzeug==2.2.2
Flask==2.2.2
SQLAlchemy==1.4.40
mysqlclient==2.1.1
python-dotenv==0.15.0
orjson==3.4.7
pandas==1.2.3
scipy==1.6.2
tenacity==7.0.0
newrelic
epiweeks==2.1.2
typing-extensions
structlog==22.1.0
