<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>API Keys</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>
            API Key Admin Interface
        </h1>
        {% if flags.banner %}
        <div class="alert alert-primary" role="alert">
        {{ flags.banner }}
        </div>
        {% endif %}
        {% if mode == 'overview' %}
            <h2 class="mt-5 mb-3">Registered Users</h2>
            <table class="table table-striped">
                <thead>
                    <th scope="col">ID</th>
                    <th scope="col">API Key</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Registered</th>
                    <th scope="col">Track Usage</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Actions</th>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.api_key }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ '✔️' if user.registered else '❌'}}</td>
                        <td>{{ '✔️' if user.tracking else '❌'}}</td>
                        <td>{{ ','.join(user.roles) }}</td>
                        <td>
                            <a class="btn btn-secondary btn-sm" href="./{{user.id}}?auth={{token}}">Edit</a>
                            <a class="btn btn-secondary btn-sm" href="./{{user.id}}?auth={{token}}&delete=yes">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h2 class="mt-5 mb-3">Register New User</h2>

        {% else %}
            <h2 class="mt-5 mb-3">
                <a href="./?auth={{token}}">&lt; Back</a>
                Edit User {{user.id}}
            </h2>
        {% endif %}
        <form method="POST">
            <input type="hidden" name="auth" value="{{token}}" />
            <div class="form-group">
                <label for="api_key">API Key</label>
                <input type="text" class="form-control" name="api_key" id="api_key" value="{{user.api_key}}" required />
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" name="email" id="email" value="{{user.email}}" />
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="registered" name="registered" value="True" {{'checked' if user.registered else ''}}>
                <label class="form-check-label" for="registered">Registered for no rate limit</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="tracking" name="tracking" value="True" {{'checked' if user.tracking else ''}}>
                <label class="form-check-label" for="tracking">Track API Key usage</label>
            </div>
            <div class="form-group">
                <label for="roles">Roles</label>
                {% for role in roles %}
                    <label class="form-check-label form-check">
                        <input type="checkbox" name="roles" value="{{role}}" {{'checked' if role in user.roles else ''}}>
                        {{role}}
                    </label>
                {% endfor %}
            </div>
            {% if mode == 'overview' %}
                <button type="submit" class="btn btn-primary btn-block">Add</button>
            {% else %}
                <button type="submit" class="btn btn-primary btn-block">Update</button>
                <button type="submit" name="delete" class="btn btn-secondary btn-block">Delete</button>
            {% endif %}
        </form>
    </div>
</body>
</html>